body {
    margin: 0 0 0 0;    
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #2a1ad8 0%, #4e26e2 25%, #7231ec 50%, #953df5 75%, #b948ff 100%);
    color: white;
}

button {
    background-color: #b948ff;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
}

#main-wrapper {
    display: flex;
    height: 85vh;
    margin: 0 0 0 0;
    padding: 5vh 25vh 10vh 25vh;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: transparent;
}

.user-input-wrapper {
    height: 100%;
    width: 100%;
    margin-right: 10px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.62);
}

.preview-wrapper {
    height: 100%;
    width: 100%;
    margin-left: 10px;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.62);
}


.content {
    background-color: transparent;
    display: block;
    height: 90%;
    width: 100%;
}

.header {
    background-color: transparent;
    display: block;
    height: 5%;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 3vh;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}