body {
    margin: 0 0 0 0;    
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #2a1ad8 0%, #4e26e2 25%, #7231ec 50%, #953df5 75%, #b948ff 100%);
}

#main-wrapper {
    display: flex;
    height: 85vh;
    margin: 0 0 0 0;
    padding: 5vh 25vh 10vh 25vh;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.user-input-wrapper {
    background-color: transparent;
    height: 100%;
    width: 100%;
    margin-right: 10px
}

.preview-wrapper {
    height: 100%;
    width: 100%;
    margin-left: 10px;
    background-color: transparent;
}


.content {
    background-color: chocolate;
    display: block;
    height: 90%;
    width: 100%

}

.header {
    background-color: blueviolet;
    display: block;
    height: 5%;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 3vh;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}