.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: transparent;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    padding: 5px 20px;
    color: white;
}

.content-wrapper {
    padding: 0px 20px;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    color: #f9f1f1;
    /* transition: 0.3s; */
    height: 7.5%;
}

.tab button.active {
    /* From https://css.glass */
    background: rgba(29, 236, 43, 0.23);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.7px);
    -webkit-backdrop-filter: blur(13.7px);
    border: 1px solid rgba(29, 236, 43, 0.62);
}

.tabcontent {
    background-color: transparent;
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
    height: 92%;
}